variable "environment" {
  type    = string
  default = "dev"
}

variable "region" {
  type    = string
  default = "ap-northeast-2"
}

variable "awscli_profile" {
  type    = string
  default = "default"
}

variable "k8s_cluster_version" {
  type    = string
  default = "1.31"
}

variable "container_registry" {
  type    = string
  default = ".dkr.ecr.ap-northeast-2.amazonaws.com"
}

variable "route53_domain" {
  type    = string
  default = "callisto.ddps.cloud"
}

# ap-northeast-2 bottlerocket k8s 1.31 ami : ami-012800a9b18f53e6a
variable "ami_id" {
  type    = string
  default = "ami-012800a9b18f53e6a"
}

variable "jupyter_api_container_repository" {
  type    = string
  default = "callisto-ddb-jupyter-api"
}

variable "jupyter_api_image_tag" {
  type    = string
  default = "latest"
}