variable "environment" {
  type    = string
  default = "dev"
}

variable "region" {
  type    = string
  default = "ap-northeast-2"
}

variable "awscli_profile" {
  type    = string
  default = "default"
}

variable "k8s_cluster_version" {
  type    = string
  default = "1.31"
}

variable "container_registry" {
  type    = string
  default = ".dkr.ecr.ap-northeast-2.amazonaws.com"
}

variable "route53_domain" {
  type    = string
  default = "callisto.ddps.cloud"
}

# ap-northeast-2 AL2023 k8s 1.31 ami : ami-0ddebd0f578342110
variable "ami_id" {
  type    = string
  default = "ami-0ddebd0f578342110"
}

variable "jupyter_api_container_repository" {
  type    = string
  default = "callisto-ddb-jupyter-api"
}

variable "jupyter_api_image_tag" {
  type    = string
  default = "latest"
}

variable "allowed_signup_domain" {
  type    = string
  default = "hanyang.ac.kr,kookmin.ac.kr"
}