variable "region" {
  type = string
  default = "ap-northeast-2"
}

variable "awscli_profile" {
  type = string
  default = "default"
}

variable "main_suffix" {
  type = string
  default = ""
}

variable "container_registry" {
  type = string
  default = ""
}

variable "route53_domain" {
  type = string
  default = ""
}

# AL2023 EKS Optimized AMI
variable "ami_id" {
  type = string
  default = "ami-04f3fb3944c844ddf"
}